ARCHIVE_HOME=~/opt/regal
SERVER=localhost
FEDORA_USER=admin
PASSWORD=admin
EMAIL=admin@localhost
TOMCAT_HOME=$ARCHIVE_HOME/fedora/tomcat
TOMCAT_CONF=$TOMCAT_HOME/conf
TOMCAT_PORT=8080
ELASTICSEARCH_CONF=/etc/elasticsearch
ELASTICSEARCH_PORT=9200
PLAYPORT=9000
BACKEND=$SERVER:$PLAYPORT
FRONTEND=$SERVER
URNBASE=http://$FRONTEND/resource/
IP=all
VERSION=0.6.0-SNAPSHOT
